$purple: #5c4084;

body {
  background-color: $purple;
  padding: 50px;
}
.container {
  padding: 20px 30px 10px 40px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
}
.heading {
  text-align: center;
  h1 {
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: 900;
    font-size: 4rem;
    color: #fff;
  }
  h4 {
    color: lighten(#5c3d86,30%);
    text-align: center;
    margin: 0 0 35px 0;
    font-weight: 400;
    font-size: 24px;
  }
}
.btn{
  outline: none !important;
}
.btn.btn-primary {
  background-color: $purple;
  border-color: $purple;
  width: 60px;
  font-size : 20px;
  height: 40px;
  color: white;
  outline: none;
  &:hover {
    background-color: darken($purple, 10%);
    border-color: darken($purple, 10%);
  }
  &:active, &:focus {
    background-color: lighten($purple, 5%);
    border-color: lighten($purple, 5%);
  }
  & .fa {
    padding-right: 4px;
  }
}
.list-group {
  background-color: $purple;
  margin: 15px 0 0 0;
  overflow: hidden;
  &:after {
    display: none;
  }
  .list-group-item {
    background-color: white;
  }
  .list-group-item:first-child,
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.form-group {
  margin-bottom: 25px;
}

.CodeMirror {
  padding: 12px 0px;
  padding-left: 12px;
  font-size: 16px;
  text-align: left;
  position: relative;
  z-index: 999;
  height: auto;
}

.CodeMirror pre {
    padding: 0 8px;
}

.styled-background {
    background-color: yellow;
    color: #000;
}

div.column{
  float: left;
  width: 47%;

  padding: 0px 5px 5px 0px;
  margin: 0px 15px 10px 0px;

  border: 0px solid #d8d8d8;
  border-radius: 5px;

  height:600px;
}


div.title {
    padding: 0.4em 16px;
    margin: 25px 0 5px;

    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 20px;

    background-color: #e7e8e6;
    border-radius: 8px;
    border-top: 1px solid #CC342D;
    border-bottom: 1px solid #CC342D;
    border-left: 6px solid #CC342D;
    border-right: 1px solid #CC342D;

    color: #0d62be;
}

