body {
  margin: 0;
  font-family: "Trebuchet MS", lucida, sans-serif;
  line-height: 1.5;
  color: black; background-color: white;
}
aside, footer, header, nav { display: block; } /* HTML5 */
a img { border: none; }

variable{
	font-family: monospace;
	color: #00f;
	font-size: 130%;
}

keyword{
	font-family: monospace;
	color: #7F0055;
	font-size: 130%;
    font-weight: bold;
	line-height: 1em;
}
